body {
  background-color: #6c9a80;
  margin: 0;
  padding: 0;
}

.landing-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh; /* Full height to center vertically */
  text-align: center; /* Center text in the container */
  margin-top: 100px;
}

.logo-landing-container {
  display: flex;
  justify-content: center; /* Center the logo */
  align-items: center;
  margin: 20px 0;
  position: relative; /* Allows the background shape to be positioned */
}

.logo-landing-container::before {
  content: '';
  position: absolute;
  width: 700px; /* The size of the background shape */
  height: 700px;
  background-color: rgba(80, 98, 153, 0.3); 
  /* background-color: #506299; Color for the background shape */
  border-radius: 50%; /* Make it a circle */
  z-index: -1; /* Send it behind the logo */
  top: -50px; /* Adjust the vertical position */
  left: -50px; /* Adjust the horizontal position */
}

.logoLanding {
  width: 600px; /* Increased the width to make the image bigger */
  height: auto; /* Keeps aspect ratio */
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  opacity: 0.85;
  transition: opacity 0.3s ease;
}

button {
  padding: 15px 30px;
  font-size: 24px;
  background-color: #ffd700;
  color: #304c54;
  border-radius: 8px;
  border: 2px solid #304c54;
  cursor: pointer;
  margin-top: 20px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3); /* Add a shadow for depth */
}

button:hover {
  background-color: #ffcc00; /* Slightly change the color on hover */
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.6); /* Darken the shadow on hover */
}


